<!DOCTYPE html>  
 <html>
 <head>  
 <style>
     body {
         background-color:rgb(233, 199, 119);
     }  
 <title>Adiciona Aluno</title>  
 </style>
 </head>  
 <body>
<form style=" width: 100vw; margin-left : 35vw;">
  
  <h2>Informações do cadastro de alunos</h2>   
 <form action = "/savedetails" method="post">   
 <table>
    <tr><td>CPF do Aluno</td><td><input type="text" name="cpf_aluno"></td></tr>  
    <tr><td>Nome do Aluno</td><td><input type="text" name="nome"></td></tr>  
    <tr><td>Endereço do Aluno</td><td><input type="text" name="endereco"></td></tr>  
    <tr><td>Telefone</td><td><input type="text" name="telefone"></td></tr>  
    <tr><td>Data de nascimento</td><td><input type="text" name="data_nasc"></td></tr>  
    <tr><td><input type="submit" value="Adicionar"></td></tr>  
 </table>  
 <br>
 <br>
 <br>
 <br>
 <br>
 <a href="/">Retorna a página inicial</a>   
</b>
</form>
</form>
 </body>  
 </html>