<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/responsive.css') }}">
    <script src="https://kit.fontawesome.com/bfe7a3e22e.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
</head>

<body>
    <form style=" width: 100vw; margin-left : 35vw;">
    <h2>Olá Bem vindo ao web site - Escola - Módulo Cadastro das Matrículas dos Alunos em seus cursos</h2>   
    <h2>******************************************</h2>
    <a href="/add">Adicionar Estudantes</a><br><br>  
    <a href ="/view">Lista Registros</a><br><br>  
    <a href="/delete">Apaga Registros</a><br><br>  
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <h2>******************************************</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/">Retorna a página inicial</a>   
    </b>
    </b>
    </b>
    </b>
</body>

</html>
